:root {
    --color-1: #000000;
    --color-2: #ffffff;
    --color-3: #F5A02D;
    --color-4: #F5302A;

}

@font-face {
    font-family: 'Naruto';
    src: url('../src/font/ninja_naruto/njnaruto.ttf');
}



